	<div ng-repeat="room in rooms">
		<h3>{{room.name}}</h3>
		<input type="checkbox" ng-model="room.power" ng-change="room.turnAll()">
		<ul>
			<li ng-repeat="light in room.devices">
				{{light.name}}
				<input type="checkbox" ng-model="light.power">
				 </li>
		</ul>
		<p>{{}}</p>
		
	</div>